<!-- <form   [formGroup]="employee" (ngSubmit)="addEmployee()" class="needs-validation"  >
  <div class="form-group col-md-4">
    <label for="id">ID: </label>
    <input type="number" class="form-control" formControlName="id" id="id" name="id" [(ngModel)]="newEmployeeData.id" >
    <div class="invalid-feedback">
      Please provide a valid ID.
    </div>
  </div>

  <div class="form-group col-md-4 ">
    <label for="username ">Username:</label>
    <input type="text" class="form-control" formControlName="username" id="username" name="username" [(ngModel)]="newEmployeeData.username" >
    <div class="invalid-feedback">
      Please provide a username.
    </div>
  </div>
  <div class="form-group col-md-4">
    <label for="salary">Salary:</label>
    <input type="number" class="form-control" id="salary" formControlName="salary" name="salary" [(ngModel)]="newEmployeeData.salary" >
    <div class="invalid-feedback">
      Please provide a valid salary.
    </div>
  </div>
<br>
  <button type="submit" class="btn btn-primary col-md-2 " [disabled]="!employee.valid" >Add </button>
  <button type="submit" class="btn btn-danger col-md-2  " [routerLink]="['/list']">Cancel</button>

</form >

<br><br>



 -->
